<thead>
  <title>商品在庫一覧</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag 'ror' %>
</thead>

<tbody>
<h2>商品在庫一覧</h2>
<table border="1">
  <tr style="background-color:pink">
    <th>カテゴリ</th>
    <th>商品名</th>
    <th>在庫数</th>
    <th>消費</th>
    <th>消費反映</th>
    <th>履歴</th>
  </tr>
  
  <% for r in @results %>
  <tr style="background-color:<%= cycle('white', 'yellow') %>">
      <td><%=h r.categoryCd %></td>
      <td><%=h r.goods %></td>
      <td><%=h r.zaiko %></td>
      <% form_tag() %>
      <td><%= number_field_tag :shohi , '', :size => 10 %></td>
      <td><%= button_to "反映" , { :action => 'createShohi' , :shohi => **** , :category => r.categoryCd, :goods => r.goods } %><!-- submit_tag "反映",  { :type => "button", :onClick => "this.form.action='/shopping_management_developments/createShohi'; this.form.submit();"} --></td>
      <td><%= button_to "確認" , { :action => 'searchHistory', :category => r.categoryCd, :goods => r.goods }, :confirm => "履歴確認しますか?" %></td>
      <% end %>
  </tr>
</table>
<br><br>
<% form_tag({ :action => 'searchInit' }) %>
<!-- link_to '戻る', shopping_management_developments_searchInit_path -->
<%= button_to  "戻る" , { :action => 'searchInit' } %>
<br>
<%= link_to '購入商品在庫管理メニュー', root_path %>
</tbody>

