<p id="notice"><%= notice %></p>

<p>
  <strong>Categorycd:</strong>
  <%= @shopping_management_development.categoryCd %>
</p>

<p>
  <strong>Goods:</strong>
  <%= @shopping_management_development.goods %>
</p>

<p>
  <strong>Date:</strong>
  <%= @shopping_management_development.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @shopping_management_development.amount %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @shopping_management_development.sum %>
</p>

<p>
  <strong>Place:</strong>
  <%= @shopping_management_development.place %>
</p>

<%= link_to 'Edit', edit_shopping_management_development_path(@shopping_management_development) %> |
<%= link_to 'Back', shopping_management_developments_path %>
